# data files
data/
*.csv
*.csv.gz

# secrets
.env
*.pem

# virtual environment
env/
.venv/

airbnb_pipeline/target/
airbnb_pipeline/dbt_packages/
airbnb_pipeline/logs/
airbnb_pipeline/.user.yml

logs/

# Python bytecode
__pycache__/
*.py[cod]

# docs
docs/ingestion.md
docs/staging.md
