AIRBNB_S3_BUCKET=chicago-airbnb
AIRBNB_SNOWFLAKE_ACCOUNT=BULBFZZ-CR56067
AIRBNB_SNOWFLAKE_USER=
AIRBNB_SNOWFLAKE_PASSWORD=
AIRBNB_SNOWFLAKE_DATABASE=AIRBNB
AIRBNB_SNOWFLAKE_SCHEMA=DBT_ANANYA
AIRBNB_SNOWFLAKE_ROLE=DBT_ROLE
AIRBNB_SNOWFLAKE_WAREHOUSE=TRANSFORM_WH
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=
